.results-wrapper {
	position: relative;
	overflow-x: auto;
}
.results {
	overflow-y: auto;
	outline: none;
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
	height: 100%;
	min-width: 921px;
}
.results::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}
.results::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: lightgray;
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.doctor-wrapper {
	margin: 20px;
	border-radius: 5px;
	border: 1px solid lightgray;
	padding: 15px;
}
.doctor-wrapper:hover {
	box-shadow: rgba(0, 0, 0, 0.12) 0 0 12px;
	border-color: rgb(0, 108, 112);
}
.doctor {
	flex: 1;
	/*max-width: 300px;*/
	display: flex;
	flex-direction: column;
	min-height: 230px;
}
.doctor-wrapper .doctor > div {
	display: flex;
	align-items: center;
}
.doctor-wrapper > div {
	clear: both;
	display: flex;
}
.doctor button {
	cursor: pointer;
	outline: none;
}

.doctor img {
	border-radius: 75px;
	border: 1px solid lightgray;
	cursor: pointer;
	margin-bottom: 10px;
}
.doctor .distance {
	text-align: center;
	font-size: 0.9em;
}
.results-title {
	font-weight: 500;
	font-size: 1.4em;
	color: var(--docduc-primary);
}
.bottom-form .results-title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 !important;
	padding: 10px 0;
	border-top: 1px solid lightgray;
}
.bottom-form .results-title > span:hover {
	text-decoration: underline;
}
.bottom-form .results-title > span {
	cursor: pointer;
}
.doctor-id > div:first-child {
	cursor: pointer;
	width: max-content;
}
.doctor-id > div:first-child:hover {
	text-decoration: underline;
}
.doctor-id > div {
	margin: 10px;
}
.doctor-id .address {
	max-width: 200px;
}
.doctor-id .fa-user-plus,
.doctor-id .fa-user-minus {
	float: right;
	font-size: 1.4em;
	cursor: pointer;
}
.separator {
	padding: 10px;
	background: #f7f7f7f7;
	font-size: 1.1em;
	text-align: center;
	position: sticky;
	top: 0;
	font-weight: 600;
	z-index: 1;
}
.separator i {
	margin: 0 10px;
}
.results form i {
	padding-right: 5px;
	padding-left: 5px;
}
.results .results-title,
.no-care-team {
	text-align: center;
	margin: 20px;
}
.bottom-form {
	position: absolute;
	bottom: 0;
	width: calc(100% - 7px);
	background: white;
	z-index: 2;
}
