.sending-area {
	display: flex;
	height: 80px;
	position: relative;
	box-shadow: #80808085 2px 4px 10px 0px;
	margin-right: 10px;
	margin-bottom: 25px;
}
.sending-area-buttons {
	width: 85px;
	display: flex;
	justify-content: center;
	background: #ecedf0;
}

.message-warning {
	position: absolute;
	right: 0px;
	bottom: -23px;
	font-size: 13px;
}
.message-box {
	padding: 25px 10px 10px;
	width: 100%;
	background: #f5f6f7;
	border: navajowhite;
	font-size: 19px;
	border: none;
	box-shadow: none;
	resize: none;
}

.file-input {
	width: 50px;
	display: flex;
	align-items: center;
}
.send-button {
	width: 50px;
}
