.services-modal .MuiDialog-paperScrollPaper {
  height: 100%;
  width: 100%;
}

.services-modal__error-div {
  margin-top: 5px;
}

.Mui-error.services-modal__error-label {
  font-size: 1em;
  margin-top: 10px;

  animation: fadeInDown 0.4s ease-out;
}

.services-modal__clear-service {
  cursor: pointer;
}

.services-modal__clear-service i {
  color: var(--docduc-primary);
  font-size: 1.2em;
  font-weight: bold;
}

.services-modal__clear-button {
  border: none;
  background-color: transparent;

  color: var(--docduc-primary);
  font-size: 01em;
  font-weight: 400;
}

.services-modal__required {
  color: red;
  font-weight: normal;
  margin-left: 5px;
}

.services-modal__service-input {
  width: 90%;
}

@keyframes fadeInDown {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.MuiInputBase-root.Mui-disabled {
  color: initial !important;
}

.services-modal__confirmation span {
  font-weight: bold;
}

/*Remove arrows from number input*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.collapsed {
  margin-top: 20px;
}
.custom-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.or {
  position: relative;
  width: 100px;
  text-align: center;
  margin: 10px;
}
.or hr {
  position: absolute;
  margin: 0;
  width: 100%;
  top: 50%;
  border-color: lightgray;
}
.or span {
  background: white;
  position: relative;
  z-index: 1;
  padding: 0 5px;
}
