.input-image-preview-grid {
	overflow: auto;
	display: flex;
	margin-bottom: 5px;
	flex-wrap: wrap;
	justify-content: center;
}
.input-image-preview-wrapper {
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 200px;
	margin: 15px;
	height: 230px;
	justify-content: space-around;
}

.input-image-name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.input-image-preview {
	max-width: 200px;
	max-height: 200px;
	margin: auto 0;
}
