.appointment .MuiDialog-paperScrollPaper {
  height: 100%;
  width: 100%;
}
.appointment__wrapper {
  position: relative;
  height: 100%;
}
.title-modal .MuiButton-root {
  margin-left: 10px;
}

.doctors-note {
  height: 36px;
  align-items: center;
  display: flex;
}

.handle-space {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.note,
.appointment__wrapper textarea {
  max-height: 200px !important;
  overflow-y: auto !important;
}
.patient__header {
  display: flex;
  align-items: center;
}
.patient__header img {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 38px;
  margin-bottom: 6px;
  margin-right: 10px;
  cursor: pointer;
}
.patient__header span {
  font-weight: 600;
  font-size: 1.1em;
}
