ul.lst-kix_8o3hnc3n1m3d-5 {
  list-style-type: none;
}
ul.lst-kix_8o3hnc3n1m3d-4 {
  list-style-type: none;
}
ul.lst-kix_8o3hnc3n1m3d-7 {
  list-style-type: none;
}
ul.lst-kix_8o3hnc3n1m3d-6 {
  list-style-type: none;
}
ul.lst-kix_8o3hnc3n1m3d-1 {
  list-style-type: none;
}
ul.lst-kix_8o3hnc3n1m3d-0 {
  list-style-type: none;
}
ul.lst-kix_8o3hnc3n1m3d-3 {
  list-style-type: none;
}
ul.lst-kix_8o3hnc3n1m3d-2 {
  list-style-type: none;
}
.lst-kix_x0uhxl61krqd-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_8xl48glz55zq-8 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_8o3hnc3n1m3d-8 {
  list-style-type: none;
}
.lst-kix_x0uhxl61krqd-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_x0uhxl61krqd-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_x0uhxl61krqd-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_4py8ck7zfif4-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_4py8ck7zfif4-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_4py8ck7zfif4-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_9zl1ok4xnshr-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_9zl1ok4xnshr-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_9zl1ok4xnshr-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_4py8ck7zfif4-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_9zl1ok4xnshr-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_9zl1ok4xnshr-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_9zl1ok4xnshr-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_ddbhaogt8i66-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_ddbhaogt8i66-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_ddbhaogt8i66-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_9zl1ok4xnshr-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_ddbhaogt8i66-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_9zl1ok4xnshr-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_ddbhaogt8i66-3 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_3c7inadwk8te-7 {
  list-style-type: none;
}
ul.lst-kix_3c7inadwk8te-8 {
  list-style-type: none;
}
.lst-kix_ddbhaogt8i66-8 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_3c7inadwk8te-3 {
  list-style-type: none;
}
ul.lst-kix_3c7inadwk8te-4 {
  list-style-type: none;
}
ul.lst-kix_3c7inadwk8te-5 {
  list-style-type: none;
}
.lst-kix_ddbhaogt8i66-5 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_3c7inadwk8te-6 {
  list-style-type: none;
}
ul.lst-kix_3c7inadwk8te-0 {
  list-style-type: none;
}
ul.lst-kix_3c7inadwk8te-1 {
  list-style-type: none;
}
.lst-kix_ddbhaogt8i66-6 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_3c7inadwk8te-2 {
  list-style-type: none;
}
.lst-kix_ddbhaogt8i66-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_4py8ck7zfif4-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_4py8ck7zfif4-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_4py8ck7zfif4-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_4py8ck7zfif4-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_4py8ck7zfif4-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_8xl48glz55zq-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_x0uhxl61krqd-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_x0uhxl61krqd-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_8xl48glz55zq-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_8xl48glz55zq-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_8xl48glz55zq-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_8xl48glz55zq-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_8xl48glz55zq-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_x0uhxl61krqd-4 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_2vf70564vhw9-0 {
  list-style-type: none;
}
ul.lst-kix_2vf70564vhw9-2 {
  list-style-type: none;
}
ul.lst-kix_2vf70564vhw9-1 {
  list-style-type: none;
}
.lst-kix_x0uhxl61krqd-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_x0uhxl61krqd-6 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_2vf70564vhw9-4 {
  list-style-type: none;
}
.lst-kix_8xl48glz55zq-7 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_2vf70564vhw9-3 {
  list-style-type: none;
}
ul.lst-kix_2vf70564vhw9-6 {
  list-style-type: none;
}
ul.lst-kix_2vf70564vhw9-5 {
  list-style-type: none;
}
ul.lst-kix_2vf70564vhw9-8 {
  list-style-type: none;
}
ul.lst-kix_2vf70564vhw9-7 {
  list-style-type: none;
}
.lst-kix_8xl48glz55zq-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_goht1eyd5hzv-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_goht1eyd5hzv-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_j4zkc5y2cjzy-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_pkx032phh0ou-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_j4zkc5y2cjzy-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_8o3hnc3n1m3d-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_pkx032phh0ou-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_j4zkc5y2cjzy-8 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_goht1eyd5hzv-6 {
  list-style-type: none;
}
ul.lst-kix_4py8ck7zfif4-7 {
  list-style-type: none;
}
ul.lst-kix_goht1eyd5hzv-5 {
  list-style-type: none;
}
ul.lst-kix_4py8ck7zfif4-6 {
  list-style-type: none;
}
ul.lst-kix_goht1eyd5hzv-4 {
  list-style-type: none;
}
ul.lst-kix_goht1eyd5hzv-3 {
  list-style-type: none;
}
ul.lst-kix_4py8ck7zfif4-8 {
  list-style-type: none;
}
ul.lst-kix_j4zkc5y2cjzy-0 {
  list-style-type: none;
}
ul.lst-kix_goht1eyd5hzv-2 {
  list-style-type: none;
}
ul.lst-kix_4py8ck7zfif4-3 {
  list-style-type: none;
}
ul.lst-kix_j4zkc5y2cjzy-1 {
  list-style-type: none;
}
ul.lst-kix_goht1eyd5hzv-1 {
  list-style-type: none;
}
ul.lst-kix_4py8ck7zfif4-2 {
  list-style-type: none;
}
ul.lst-kix_j4zkc5y2cjzy-2 {
  list-style-type: none;
}
ul.lst-kix_goht1eyd5hzv-0 {
  list-style-type: none;
}
ul.lst-kix_4py8ck7zfif4-5 {
  list-style-type: none;
}
ul.lst-kix_j4zkc5y2cjzy-3 {
  list-style-type: none;
}
ul.lst-kix_4py8ck7zfif4-4 {
  list-style-type: none;
}
ul.lst-kix_j4zkc5y2cjzy-4 {
  list-style-type: none;
}
ul.lst-kix_4py8ck7zfif4-1 {
  list-style-type: none;
}
ul.lst-kix_4py8ck7zfif4-0 {
  list-style-type: none;
}
ul.lst-kix_goht1eyd5hzv-8 {
  list-style-type: none;
}
.lst-kix_z5svb2vp3rbn-1 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_goht1eyd5hzv-7 {
  list-style-type: none;
}
ul.lst-kix_z5svb2vp3rbn-3 {
  list-style-type: none;
}
ul.lst-kix_z5svb2vp3rbn-2 {
  list-style-type: none;
}
ul.lst-kix_z5svb2vp3rbn-5 {
  list-style-type: none;
}
ul.lst-kix_z5svb2vp3rbn-4 {
  list-style-type: none;
}
ul.lst-kix_z5svb2vp3rbn-1 {
  list-style-type: none;
}
.lst-kix_z5svb2vp3rbn-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_z5svb2vp3rbn-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_goht1eyd5hzv-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_goht1eyd5hzv-8 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_z5svb2vp3rbn-0 {
  list-style-type: none;
}
.lst-kix_j4zkc5y2cjzy-2 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_j4zkc5y2cjzy-5 {
  list-style-type: none;
}
ul.lst-kix_j4zkc5y2cjzy-6 {
  list-style-type: none;
}
ul.lst-kix_j4zkc5y2cjzy-7 {
  list-style-type: none;
}
ul.lst-kix_j4zkc5y2cjzy-8 {
  list-style-type: none;
}
ul.lst-kix_z5svb2vp3rbn-7 {
  list-style-type: none;
}
ul.lst-kix_z5svb2vp3rbn-6 {
  list-style-type: none;
}
.lst-kix_z5svb2vp3rbn-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_goht1eyd5hzv-6 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_z5svb2vp3rbn-8 {
  list-style-type: none;
}
.lst-kix_j4zkc5y2cjzy-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_hl3xvgqbjbfh-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_2vf70564vhw9-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_2vf70564vhw9-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_hl3xvgqbjbfh-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_407ryrmeimm8-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_407ryrmeimm8-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_hl3xvgqbjbfh-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_hl3xvgqbjbfh-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_2vf70564vhw9-8 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_ddbhaogt8i66-6 {
  list-style-type: none;
}
ul.lst-kix_ddbhaogt8i66-5 {
  list-style-type: none;
}
ul.lst-kix_ddbhaogt8i66-4 {
  list-style-type: none;
}
ul.lst-kix_ddbhaogt8i66-3 {
  list-style-type: none;
}
.lst-kix_407ryrmeimm8-8 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_ddbhaogt8i66-2 {
  list-style-type: none;
}
ul.lst-kix_ddbhaogt8i66-1 {
  list-style-type: none;
}
ul.lst-kix_ddbhaogt8i66-0 {
  list-style-type: none;
}
.lst-kix_3c7inadwk8te-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_pkx032phh0ou-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_8o3hnc3n1m3d-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_407ryrmeimm8-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_407ryrmeimm8-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_8o3hnc3n1m3d-4 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_ddbhaogt8i66-8 {
  list-style-type: none;
}
.lst-kix_3c7inadwk8te-5 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_ddbhaogt8i66-7 {
  list-style-type: none;
}
.lst-kix_pkx032phh0ou-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_8o3hnc3n1m3d-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_v44zk64n5wlj-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_3c7inadwk8te-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_2vf70564vhw9-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_2vf70564vhw9-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_8o3hnc3n1m3d-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_v44zk64n5wlj-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_3c7inadwk8te-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_pkx032phh0ou-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_batih68fj7ap-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_v44zk64n5wlj-0 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_8xl48glz55zq-0 {
  list-style-type: none;
}
.lst-kix_batih68fj7ap-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_batih68fj7ap-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_batih68fj7ap-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_batih68fj7ap-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_v44zk64n5wlj-2 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_8xl48glz55zq-3 {
  list-style-type: none;
}
ul.lst-kix_8xl48glz55zq-4 {
  list-style-type: none;
}
.lst-kix_v44zk64n5wlj-1 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_8xl48glz55zq-1 {
  list-style-type: none;
}
ul.lst-kix_8xl48glz55zq-2 {
  list-style-type: none;
}
.lst-kix_batih68fj7ap-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_batih68fj7ap-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_batih68fj7ap-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_batih68fj7ap-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_v44zk64n5wlj-7 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_hl3xvgqbjbfh-5 {
  list-style-type: none;
}
.lst-kix_v44zk64n5wlj-8 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_hl3xvgqbjbfh-4 {
  list-style-type: none;
}
ul.lst-kix_hl3xvgqbjbfh-7 {
  list-style-type: none;
}
ul.lst-kix_hl3xvgqbjbfh-6 {
  list-style-type: none;
}
ul.lst-kix_x0uhxl61krqd-8 {
  list-style-type: none;
}
ul.lst-kix_hl3xvgqbjbfh-8 {
  list-style-type: none;
}
ul.lst-kix_x0uhxl61krqd-7 {
  list-style-type: none;
}
ul.lst-kix_x0uhxl61krqd-6 {
  list-style-type: none;
}
ul.lst-kix_x0uhxl61krqd-5 {
  list-style-type: none;
}
ul.lst-kix_x0uhxl61krqd-4 {
  list-style-type: none;
}
ul.lst-kix_x0uhxl61krqd-3 {
  list-style-type: none;
}
ul.lst-kix_x0uhxl61krqd-2 {
  list-style-type: none;
}
ul.lst-kix_x0uhxl61krqd-1 {
  list-style-type: none;
}
ul.lst-kix_hl3xvgqbjbfh-1 {
  list-style-type: none;
}
ul.lst-kix_x0uhxl61krqd-0 {
  list-style-type: none;
}
ul.lst-kix_hl3xvgqbjbfh-0 {
  list-style-type: none;
}
ul.lst-kix_hl3xvgqbjbfh-3 {
  list-style-type: none;
}
ul.lst-kix_hl3xvgqbjbfh-2 {
  list-style-type: none;
}
ul.lst-kix_n8xnr0ay7s3w-0 {
  list-style-type: none;
}
ul.lst-kix_n8xnr0ay7s3w-2 {
  list-style-type: none;
}
ul.lst-kix_n8xnr0ay7s3w-1 {
  list-style-type: none;
}
ul.lst-kix_n8xnr0ay7s3w-8 {
  list-style-type: none;
}
ul.lst-kix_n8xnr0ay7s3w-7 {
  list-style-type: none;
}
.lst-kix_hl3xvgqbjbfh-0 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_n8xnr0ay7s3w-4 {
  list-style-type: none;
}
ul.lst-kix_n8xnr0ay7s3w-3 {
  list-style-type: none;
}
ul.lst-kix_n8xnr0ay7s3w-6 {
  list-style-type: none;
}
ul.lst-kix_n8xnr0ay7s3w-5 {
  list-style-type: none;
}
ul.lst-kix_pkx032phh0ou-7 {
  list-style-type: none;
}
ul.lst-kix_pkx032phh0ou-8 {
  list-style-type: none;
}
ul.lst-kix_pkx032phh0ou-5 {
  list-style-type: none;
}
ul.lst-kix_407ryrmeimm8-1 {
  list-style-type: none;
}
ul.lst-kix_pkx032phh0ou-6 {
  list-style-type: none;
}
ul.lst-kix_407ryrmeimm8-0 {
  list-style-type: none;
}
ul.lst-kix_pkx032phh0ou-3 {
  list-style-type: none;
}
ul.lst-kix_9zl1ok4xnshr-1 {
  list-style-type: none;
}
ul.lst-kix_pkx032phh0ou-4 {
  list-style-type: none;
}
ul.lst-kix_9zl1ok4xnshr-0 {
  list-style-type: none;
}
ul.lst-kix_pkx032phh0ou-1 {
  list-style-type: none;
}
ul.lst-kix_9zl1ok4xnshr-3 {
  list-style-type: none;
}
ul.lst-kix_pkx032phh0ou-2 {
  list-style-type: none;
}
ul.lst-kix_9zl1ok4xnshr-2 {
  list-style-type: none;
}
ul.lst-kix_407ryrmeimm8-7 {
  list-style-type: none;
}
ul.lst-kix_9zl1ok4xnshr-5 {
  list-style-type: none;
}
ul.lst-kix_pkx032phh0ou-0 {
  list-style-type: none;
}
ul.lst-kix_407ryrmeimm8-6 {
  list-style-type: none;
}
ul.lst-kix_9zl1ok4xnshr-4 {
  list-style-type: none;
}
ul.lst-kix_9zl1ok4xnshr-7 {
  list-style-type: none;
}
ul.lst-kix_407ryrmeimm8-8 {
  list-style-type: none;
}
ul.lst-kix_9zl1ok4xnshr-6 {
  list-style-type: none;
}
ul.lst-kix_407ryrmeimm8-3 {
  list-style-type: none;
}
ul.lst-kix_407ryrmeimm8-2 {
  list-style-type: none;
}
ul.lst-kix_9zl1ok4xnshr-8 {
  list-style-type: none;
}
ul.lst-kix_407ryrmeimm8-5 {
  list-style-type: none;
}
ul.lst-kix_407ryrmeimm8-4 {
  list-style-type: none;
}
.lst-kix_n8xnr0ay7s3w-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_n8xnr0ay7s3w-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_n8xnr0ay7s3w-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_n8xnr0ay7s3w-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_n8xnr0ay7s3w-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_n8xnr0ay7s3w-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_n8xnr0ay7s3w-5 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_8xl48glz55zq-7 {
  list-style-type: none;
}
ul.lst-kix_8xl48glz55zq-8 {
  list-style-type: none;
}
.lst-kix_n8xnr0ay7s3w-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_n8xnr0ay7s3w-6 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_8xl48glz55zq-5 {
  list-style-type: none;
}
ul.lst-kix_8xl48glz55zq-6 {
  list-style-type: none;
}
ul.lst-kix_v44zk64n5wlj-0 {
  list-style-type: none;
}
ul.lst-kix_v44zk64n5wlj-1 {
  list-style-type: none;
}
ul.lst-kix_v44zk64n5wlj-2 {
  list-style-type: none;
}
ul.lst-kix_v44zk64n5wlj-3 {
  list-style-type: none;
}
ul.lst-kix_v44zk64n5wlj-4 {
  list-style-type: none;
}
ul.lst-kix_v44zk64n5wlj-5 {
  list-style-type: none;
}
ul.lst-kix_v44zk64n5wlj-6 {
  list-style-type: none;
}
ul.lst-kix_v44zk64n5wlj-7 {
  list-style-type: none;
}
.lst-kix_goht1eyd5hzv-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_goht1eyd5hzv-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_pkx032phh0ou-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_j4zkc5y2cjzy-5 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_v44zk64n5wlj-8 {
  list-style-type: none;
}
.lst-kix_8o3hnc3n1m3d-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_j4zkc5y2cjzy-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_z5svb2vp3rbn-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_z5svb2vp3rbn-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_z5svb2vp3rbn-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_goht1eyd5hzv-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_goht1eyd5hzv-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_j4zkc5y2cjzy-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_z5svb2vp3rbn-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_z5svb2vp3rbn-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_j4zkc5y2cjzy-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_hl3xvgqbjbfh-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_hl3xvgqbjbfh-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_9zl1ok4xnshr-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_2vf70564vhw9-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_hl3xvgqbjbfh-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_hl3xvgqbjbfh-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_2vf70564vhw9-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_407ryrmeimm8-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_407ryrmeimm8-1 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_batih68fj7ap-7 {
  list-style-type: none;
}
.lst-kix_3c7inadwk8te-8 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_batih68fj7ap-8 {
  list-style-type: none;
}
ul.lst-kix_batih68fj7ap-5 {
  list-style-type: none;
}
ul.lst-kix_batih68fj7ap-6 {
  list-style-type: none;
}
.lst-kix_pkx032phh0ou-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_3c7inadwk8te-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_407ryrmeimm8-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_3c7inadwk8te-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_pkx032phh0ou-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_pkx032phh0ou-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_8o3hnc3n1m3d-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_407ryrmeimm8-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_3c7inadwk8te-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_8o3hnc3n1m3d-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_v44zk64n5wlj-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_3c7inadwk8te-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_2vf70564vhw9-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_v44zk64n5wlj-4 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_batih68fj7ap-0 {
  list-style-type: none;
}
ul.lst-kix_batih68fj7ap-3 {
  list-style-type: none;
}
ul.lst-kix_batih68fj7ap-4 {
  list-style-type: none;
}
.lst-kix_8o3hnc3n1m3d-1 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_batih68fj7ap-1 {
  list-style-type: none;
}
.lst-kix_2vf70564vhw9-1 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_batih68fj7ap-2 {
  list-style-type: none;
}

.c7 {
  margin-left: 51pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 10pt;
  line-height: 1.5555555555555556;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c9 {
  margin-left: 102pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 10pt;
  line-height: 1.5555555555555556;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c16 {
  margin-left: 51pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 10pt;
  line-height: 1.5555555555555556;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c1 {
  color: #00234b;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13.5pt;
  font-family: "Arial";
  font-style: normal;
}
.c14 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}
.c3 {
  padding-top: 0pt;
  padding-bottom: 15pt;
  line-height: 1.5555555555555556;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c19 {
  padding-top: 0pt;
  padding-bottom: 53pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center;
}
.c2 {
  padding-top: 0pt;
  padding-bottom: 6pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c18 {
  padding-top: 0pt;
  padding-bottom: 15pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c6 {
  padding-top: 0pt;
  padding-bottom: 68pt;
  line-height: 1.5555555555555556;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c13 {
  color: #00234b;
  font-weight: 700;
  font-size: 42pt;
  font-family: "Arial";
}
.c5 {
  color: #00234b;
  font-weight: 700;
  font-size: 18pt;
  font-family: "Arial";
}
.c0 {
  font-size: 13.5pt;
  font-family: "Georgia";
  color: #00234b;
  font-weight: 400;
}
.c11 {
  color: #000000;
  font-weight: 400;
  font-size: 11pt;
  font-family: "Arial";
}
.c8 {
  font-size: 13.5pt;
  color: #00234b;
  font-weight: 700;
}
.c4 {
  text-decoration: none;
  vertical-align: baseline;
  font-style: normal;
}
.c20 {
  background-color: #ffffff;
  max-width: 468pt;
  margin: 72pt auto;
}
.c10 {
  padding: 0;
  margin: 0;
}
.c12 {
  font-size: 13.5pt;
  font-weight: 700;
}
.c15 {
  color: #28d7fa;
  font-family: "Arial";
}
.c17 {
  height: 11pt;
}

