.calendar-toolbar {
	-ms-flex-align: center;
	align-items: center;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 16px;
	padding-top: 16px;
}
.MuiButton-label {
	font-family: Montserrat;
	text-transform: initial;
}
.calendar-toolbar .buttons-wrapper {
	display: flex;
}
.calendar-toolbar .buttons-wrapper i {
	line-height: 24px;
	color: var(--docduc-primary);
}
.calendar-toolbar .buttons-wrapper .MuiButton-contained i {
	color: inherit;
}
.calendar-toolbar__rigth {
	-ms-flex-align: center;
	align-items: center;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-right: 5px;
}
.calendar-toolbar__times {
	margin-right: 12px;
}

.calendar-toolbar__range,
.calendar-toolbar__to {
	font-size: 13px;
	margin: 0 6px;
}
