.thank-you li {
	padding-bottom: 10px;
}
.thank-you h1,
.thank-you h2 {
	text-align: center;
	background: white;
}
.thank-you h1 {
	font-weight: 600;
	font-size: 50px;
	margin-top: 120px;
}

.thank-you h3 {
	font-size: 25px;
	padding-top: 30px;
	padding-bottom: 15px;
}

.thank-you h3 + div {
	padding-bottom: 30px;
}
