.pricing {
	text-align: center;
}
.pricing button {
	margin: 40px 0;
}
.pricing i {
	background-color: initial !important;
}
.period {
	display: flex;
	justify-content: space-around;
}
.period > div {
	cursor: pointer;
	padding: 4px 12px;
	border-radius: 40px;
	transition: background-color 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.feature {
	display: flex;
	text-align: initial;
	padding: 5px;
	font-size: 1.1em;
	font-weight: 500;
}
.feature i {
	color: var(--docduc-primary);
}
.plan-active,
.period > div:hover {
	background: var(--docduc-primary-dark);
	color: white;
}
.dollars {
	font-size: 4em;
}
.cents {
	font-size: 2em;
}
.fa-dollar-sign {
	line-height: 50px !important;
	vertical-align: top;
	font-size: 1.3em;
	color: black !important;
}
