.picture-wrapper {
	display: flex;
	align-items: center;
}

._left {
	margin-left: 5px;
}

.aboutcharleft {
	text-align: right;
	color: #959e9b;
	font-size: 14px;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.edit-profile-form h4 {
	margin-top: 20px;
	margin-bottom: 5px;
}
.edit-profile-form hr {
	margin: 0;
}
.edit-profile-form .MuiFormControlLabel-labelPlacementStart {
	justify-content: flex-end;
	margin-left: 0 !important;
}
[placeholder="Accepted insurances"] {
	cursor: pointer;
	margin-bottom: 16px;
}
.edit-profile-form .items-list {
	background-color: #f7f7f7 !important;
}
.edit-profile-form .policy-holder {
	margin-top: 18px;
	margin-bottom: 10px;
}
.edit-profile-form .policy-subtitle {
	font-size: 1.5em;
}
