.calendar-sidemenu {
	padding: 16px;
}
.calendar-sidemenu__header {
	margin-bottom: 10px;
}
.calendar-sidemenu__title {
	font-weight: bold;
	margin-bottom: 12px;
	font-size: 14px;
}
.calendar-sidemenu__no-appointments {
	color: rgba(0, 0, 0, 0.65);
}
.sidemenu-event {
	border-radius: 2px;
	padding: 8px;
	color: #fff;
	margin-bottom: 6px;
	cursor: pointer;
}
.sidemenu-event i {
	margin-right: 10px;
}
.sidemenu-event hr {
	margin: 5px 0;
}
.sidemenu-event--person {
	background-color: #185a9d;
}
.sidemenu-event--video {
	background-color: #43cea2;
}
.sidemenu-event__header {
	margin: 10px 0;
	display: flex;
	align-items: center;
}
.sidemenu-event__header img {
	border: 1px solid lightgray;
	border-radius: 25px;
	margin-right: 10px;
}

.sidemenu-centered {
	display: flex;
	align-items: center;
	justify-content: center;
}
