.chat-header {
	height: 55px;
	display: flex;
	align-items: center;
	background: #ecedf0;
	padding-left: 10px;
	padding-right: 15px;
	justify-content: space-between;
}

.chat-header-content {
	display: flex;
}
.chat-header-image {
	margin: auto 10px !important;
	border: 1px solid white;
}
.chat-header-name {
	font-size: 18px;
	color: #343434;
}

.chat-header-status {
	color: #525353;
	font-size: 13px;
}

.chat-header-buttons {
	display: flex;
}

.chat-header-buttons img,
.sending-area img,
.sending-area label {
	margin: auto 5px;
	cursor: pointer;
}
