.items-list {
	overflow-y: auto;
	max-height: 50vh;
	border: 1px solid #dfe6e4;
	border-radius: 4px;
	padding: 0 !important;
	margin-top: 10px !important;
}

@media (max-width: 600px) {
	.items-list {
		max-height: calc((100vh - 300px) / 2);
	}
}
.items-title {
	text-align: center;
	font-weight: 500;
}
