.sign-up-doctor {
  margin-bottom: 100px;
}

.sign-up-doctor .background {
  position: fixed;
  max-width: none;
  max-height: none;
  opacity: 0.5;
  z-index: -1;
  bottom: -250px;
}
@media screen and (min-width: 1733px) {
  .sign-up-doctor .background {
    width: 100vw;
  }
}

.sign-up-doctor .title {
  font-size: 30px;
}
.sign-up-doctor .title-info {
  margin-bottom: 20px;
  font-size: 0.9em;
}
.sign-up-doctor hr {
  margin: 20px 0;
  border-color: rgb(0, 0, 0);
}

.sign-up-doctor .features {
  font-size: 1.5em;
}
.sign-up-doctor .feature {
  font-weight: inherit;
}

.sign-up-doctor .profile-image {
  border-radius: 75px;
  border: 1px solid lightgray;
}
.sign-up-doctor .form-input:not(.MuiFormGroup-row) {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.sign-up-doctor .label {
  display: block;
  cursor: pointer;
  color: gray;
}

.MuiFormControlLabel-labelPlacementStart {
  justify-content: flex-end;
  margin-left: 0 !important;
}

.MuiMobileStepper-root {
  width: inherit;
  margin-left: inherit;
  margin-right: inherit;
  box-sizing: border-box;
}
.sign-up-doctor .terms {
  margin: 20px 0;
  text-align: center;
}
