:root {
	--docduc-primary: #185a9d;
	--docduc-secondary: #ffde03;
	--docduc-light-gray: #f9f9f9;
	--docduc-primary-dark: #00326e;
	--docduc-primary-light: #5786ce;
}

body {
	font-size: 14px;
}

[class^="Mui"],
body {
	font-family: Montserrat !important;
}
main {
	min-height: calc(100vh - 59px);
}
@media (max-width: 768px) {
	.container {
		padding: 0 15px;
	}
}
@media (min-width: 768px) {
	main {
		min-height: calc(100vh - 84px);
	}
	.container {
		width: 750px !important;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px !important;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px !important;
	}
}
.container {
	/*	box-sizing: border-box;
	padding-right: 15px;
	padding-left: 15px;*/
	margin-right: auto !important;
	margin-left: auto !important;
}
h2 {
	font-weight: inherit;
	font-size: 2rem;
}
button,
input {
	font: inherit;
}
hr {
	border: 0;
	border-top: 1px solid #eee;
}
.pt-50 {
	padding-top: 50px;
}

.softo-solid-btn {
	padding: 10px 20px;
	border: 2px solid var(--docduc-secondary);
	background-color: var(--docduc-secondary);
	color: #000000;
	font-weight: 600;
	transition: all 0.3s ease-out;
	letter-spacing: 0.5px;
	border-radius: 3px;
	cursor: pointer;
	outline: none;
}

.softo-solid-btn:hover {
	background: transparent;
	color: var(--docduc-secondary);
	transform: translateY(-2px);
}
.error {
	color: red;
	margin: 10px 0;
}
.primary {
	color: var(--docduc-primary);
}
.secondary {
	border-color: var(--docduc-secondary) !important;
}
.pointer {
	cursor: pointer;
}
.relative {
	position: relative;
}
.right {
	margin-right: 10px !important;
}
.left {
	margin-left: 10px !important;
}
.fas {
	color: var(--docduc-primary);
}

.flex-center {
	display: flex;
	justify-content: center;
	width: 100%;
}
.MuiButton-containedPrimary {
	background-color: var(--docduc-primary) !important;
}

input {
	text-overflow: ellipsis;
}
.input-wrapper {
	position: relative;
	display: flex;
	align-items: center;
}
.input-wrapper input {
	width: 100%;
}
.input-wrapper i {
	position: absolute;
	right: 10px;
	color: var(--docduc-primary);
	cursor: pointer;
}
.justify-end {
	display: flex;
	justify-content: flex-end;
}
textarea {
	resize: vertical;
	outline: none;
	min-height: 21px;
	font: inherit;
}
textarea,
.scrollbar {
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
}
textarea::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: #d3d3d3;
	box-shadow: 0 0 1px hsla(0, 0%, 100%, 0.5);
}
textarea::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}

/* For Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.MuiChip-root {
	height: initial;
	margin: 5px;
}
.MuiChip-label {
	padding: 10px;
	white-space: initial;
}
.wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px;
}
.slide-wrapper {
	overflow-x: hidden;
}
.MuiDialogContent-root {
	position: relative;
}
.MuiButton-containedPrimary i {
	color: white;
}
.fa-star,
.fa-star-half-alt {
	color: var(--docduc-secondary);
}
.fa-question-circle {
	font-size: 1rem;
	vertical-align: middle;
	line-height: 1rem;
}
.main-title {
	font-size: 2.2em;
	text-align: center;
	font-weight: 500;
	padding-top: 40px;
	padding-bottom: 15px;
}
.main-subtitle {
	text-align: center;
	margin-bottom: 40px;
}
.code {
	font-family: Montserrat !important;
	border: 1px solid lightgray;
	margin: 3px;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
	padding: 2px 4px;
	font-size: 90%;
}
