.map-wrapper {
	flex: 1;
	position: relative;
}
#map {
	height: 100%;
}

.search-move {
	position: absolute;
	z-index: 1;
	display: flex;
	align-items: center;
	left: 60px;
	top: 24px;
	background: white;
	padding-right: 10px;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}
.search-move > span {
	cursor: pointer;
}

/*Hide infoWindow close button*/
.gm-ui-hover-effect {
	display: none !important;
}
