.service-details-modal {
	font-family: Montserrat;
}

.service-details {
	padding: 10px 6px;
}

.service-details hr {
	margin: 5px 0;
}

.service-details code {
	font-family: Montserrat;
	border: 1px solid lightgray;
	margin: 3px;
}
.service-details .title-modal {
	font-size: 1em;
	margin-top: 0 !important;
}
